<footer>
    <div class="container container-sm container-md container-lg container-xl">
        <div class="footer-top row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 justify-content-between">
            <div class="footer-logo"><img src="/images/lansot-logo-small.svg" alt="lansot logo логотип лансот"></div>
            <div class="d-none d-lg-block"></div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Оплата и доставка</a></li>
                    <li><a href="#">Гарантия / Возврат</a></li>
                    <li><a href="#">Частые вопросы</a></li>
                    <li><a href="#">Услуги</a></li>
                </ul>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-bottom">© 2019 Lansot - Мебель и декор в <br>минималистичном стиле</div>
    </div>
</footer>