<div class="wrapper container container-sm container-md container-lg container-xl">
    {{> header }}
    <main>
        <section>
            <h3 class="title">{{title}}</h3>

        </section>
    </main>
</div>

{{> footer }}