<div class="login">
    {{ messages.error }}
    {{#if msg}}
    <p>{{msg}}</p>
    {{/if}}
    <h1>Вход</h1>
    <form action="/user/login" method="post" class="">
        <label for="email">Электронная почта</label><br>
        <input type="text" name="email" placeholder="E-mail"><br>
        <label for="password">Пароль</label><br>
        <input type="password" name="password" placeholder="Пароль"><br>
        <button type="submit">Войти</button>
    </form>
    <p>
        <a href="/user/registration">Registration</a>
    </p>
</div>