<div>
    <h1>Мои заказы</h1>
    {{!-- <form action="/user/logout?_method=DELETE" method="POST">
        <button type="submit">LOGOUT</button>
    </form> --}}

    <a href="/user/profile">Профиль</a>
    <a href="/user/orders">Мои заказы</a>
</div>