<div class="registration">
    {{ messages.error }}
    <h1>Регистрация</h1>
    <form action="/user/registration" method="post" class="">
        <label for="name">Имя и фамилия</label><br>
        <input type="text" name="name" placeholder="Имя и фамилия"><br>
        <label for="email">Электронная почта</label><br>
        <input type="text" name="email" placeholder="E-mail"><br>
        <label for="password">Пароль</label><br>
        <input type="password" name="password" placeholder="Пароль"><br>
        <button type="submit">Зарегистрировать</button>
    </form>
        <p>
        <a href="/user/login">Login</a>
    </p>
</div>