<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h3>{{client_name}}, спасибо, ваш заказ принят!</h3>
    <h4 style="background-color: black; color:blanchedalmond;">Номер вашего заказа №{{order_id}}</h4>
    <p>Мы свяжемся с вами в ближайшее время для подтверждения заказа</p>
</body>
</html>