<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h3>{{client_name}}, вы успешно зарегистрировались на нашем сайте.</h3>
    <h4 style="background-color: black; color:blanchedalmond;">Для подтверждения регистрации перейдите по ссылке</h4>
    <p>Ссылка для подтверждения регистрации одноразовая и действуют в течение 48 часов с момента получения данного письма.</p>
    <a href="{{client_link}}">Подтвердить регистрацию</a>
</body>
</html>